<!DOCTYPE html>
<html>
<head>
    <title>Trader Bot</title>
</head>
<body>
    <h1>Trade List</h1>
    <a href="http://127.0.0.1:8000/dashboard/">Get me to the dashboard</a>
    <a href="http://127.0.0.1:8000/coins/BTC/">BTC</a>
    <a href="http://127.0.0.1:8000/coins/ETH/">ETH</a>
    <a href="http://127.0.0.1:8000/coins/SOL/">SOL</a>
    <a href="http://127.0.0.1:8000/coins/XRP/">XRP</a>
    <a href="http://127.0.0.1:8000/coins/DOGE/">DOGE</a>
    <a href="http://127.0.0.1:8000/coins/TON/">TON</a>
    <a href="http://127.0.0.1:8000/coins/TRX/">TRX</a>
    <a href="http://127.0.0.1:8000/coins/ADA/">ADA</a>
    <a href="http://127.0.0.1:8000/coins/BNB/">BNB</a>
    <a href="http://127.0.0.1:8000/coins/USDC/">USDC</a>
    <a href="http://127.0.0.1:8000/test-strategy/">test-strategy</a>
</body>
</html>
